#carouselone {

  .owl-prev {
    position: absolute;
    width: 84px;
    height: 84px;
    top: calc( 50% - 42px);
    left: 0;
    font-size: 40px;
    color: #081624;
    background: #fff;
    -webkit-transition: all .4s;
    transition: all .4s;

    &:hover {
      color: #fff;
      background: #ffc000;
    }
  }

  .owl-next {
    position: absolute;
    width: 84px;
    height: 84px;
    top: calc( 50% - 42px);
    right: 0;
    font-size: 40px;
    color: #081624;
    background: #fff;
    -webkit-transition: all .4s;
    transition: all .4s;

    &:hover {
      color: #fff;
      background: #ffc000;
    }
  }
}



#carouseltwo {

  img {
    width: auto;
    margin: 0 auto;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    cursor: pointer;

    &:hover {
      filter: grayscale(0%);
    }
  }
}



#carouselthree {

  .owl-prev {
    width: 8px;
    height: 8px;
    border-radius: 15px;
    margin-right: 12px;
    background: #fff;

    &:active {
      background: #ffc000;
    }

    &:focus {
      background: #ffc000;
      outline: none;
    }
  }

  .owl-next {
    width: 8px;
    height: 8px;
    border-radius: 15px;
    margin-right: 12px;
    background: #fff;

    &:active {
      background: #ffc000;
    }

    &:focus {
      background: #ffc000;
      outline: none;
    }
  }
}