

@media only screen and (max-width: 1568px) {

  // <!-- header-section Start -->//.

  .header-section {

    .header-left {
      display: flex;
      justify-content: center;
      flex-direction: column;

      &__site-nav-menu {
        display: flex;
        justify-content: center;
        order: 1;
      }

      &__site-logo {
        display: flex;
        justify-content: center;
        float: none;
        margin-bottom: 20px;
      }

      &__wrap-item {
        justify-content: center;
        float: none;
      }
    }
  
    .header-right {
      justify-content: center;

      &__search-switch {
        width: 60px;
        height: 54px;
        border-radius: 50%;
        font-size: 22px;
        margin-top: 10px;

      }
    }

    &__site-navbar {
      display: flex;
      flex-direction: column;
    }

  }


// <!-- header-section End -->//.



// <!-- Testimonial section  -->//

  .testimonial-section {

    &__wrap-carousel {
      padding-left: 30px;
      padding-right: 10px;
    }
  }

// <!-- Testimonial section  -->//

}


@media only screen and (max-width: 1260px) {

  .container {
    max-width: 960px;
  }
  
  // <!-- services-section-->//

  .services-section {

    &__subtext {
      max-width: 260px;
    }
  }

  // <!-- services-section-->//



  // <!-- Testimonial section  -->//

  .testimonial-section {

    &__wrap-carousel {
      padding-left: 30px;
      padding-right: 10px;
    }

    &__bg {
      display: none;
    }

    &__box {
      max-width: 740px;
      margin: 0 auto;
    }

    &__row {
      background: #17172d;
    }
  }

  // <!-- Testimonial section  -->//



  // <!-- Footer section -->//

  .footer-section {

    &__item-wrap {
      width: 35%;
    }

    &__row {
      justify-content: center;
    }

    .footer-bottom {

      &__row {
        justify-content: center;
      }
  
      &__footer-menu {
        padding-right: 0px;
      }
    }

  }

  // <!-- Footer section -->//



  // <!-- carousel-block -->..

  #carouselone .owl-next {
    width: 60px;
    height: 60px;
    font-size: 30px;
  }

  #carouselone .owl-prev {
    width: 60px;
    height: 60px;
    font-size: 30px;
  }

  .owl-carousel {

    &__caption-text {
      font-size: 60px;
    }
  }

  // <!-- carousel-block-->..
}


@media only screen and (max-width: 1000px) {

  .container {
    max-width: 720px;
  }
  

  // <!-- Video section  -->//
  
  .video-section {

    &__wrap-text {
      flex: none;
      max-width: fit-content;
    }

    &__wrap-video {
      margin-top: 55px;
      flex: none;
      max-width: none;
      width: 100%;
    }

    &__video-box {
      height: 500px;
    }

  }

  // <!-- Video section  -->//



  
  // <!-- services-section-->//

  .services-section {
    &__wrap-item {

      width: 50%;
    }

    &__subtext {
      max-width: 260px;
    }
  }
  
  // <!-- services-section-->//


  // <!-- features-section-->//

  .features-section {

    &__img-block {
      width: 45%;
      padding-right: 14px;
      padding-left: 15px;
  
        &:last-child:nth-child(odd) {
          margin-top: 19px;
          width: 94%;
      }
    }
  }

  // <!-- features-section-->//

}



@media only screen and (max-width: 800px) {

  .container {
    max-width: 540px;
  }
  

  // <!-- services-section-->//

  .services-section {
    &__subtext {
      max-width: 100%;
    }

    &__wrap-item {
      width: 100%;
    }
  }

 // <!-- services-section-->//


 // <!-- Call to action section  -->//

  .cta-section {

    &__row {
      justify-content: center;
    }

    &__lg-right {
      margin-top: 45px;
      flex: none;
      max-width: none;
    }
  }

 // <!-- Call to action section  -->//


    // <!-- features-section-->//

  .features-section {

      &__img-block {
      
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-bottom: 15px;
    
        &:last-child:nth-child(odd) {
          margin-top: 0px;
          width: 100%;
      }
        
    }
  }

  // <!-- features-section-->//


  // <!-- Footer section -->//


  .footer-section {

    &__item-wrap{
      justify-content: center;
  
      &:first-child {
        width: 100% ;
      }
  
      &:last-child {
        width: 100% ;
      }
  
    }
  }

  // <!-- Footer section -->//

}




@media only screen and (max-width: 665px) {

  .container {
    max-width: 100%;
  }

  // <!-- header-section-->//

  .header-section {
    display: flex;
    flex-direction: column;

    &__header-right {
      display: none !important;
    }
  

    .header-left__site-nav-menu {
      display: none;
    }

    .slicknav_menu {
      display: block;
    }

    &__top {
      display: flex;
    }

  }

  #menu {
		display:none;
	}

  // <!-- header-section-->//


  // <!-- carousel-block .--> //

  .owl-carousel {

    &__caption-text {
      font-size: 55px;
    }

    &__wrap-text {
      left: 10%;
    }
  }

  #carouselone .owl-next {
    width: 40px;
    height: 40px;
    font-size: 24px;
  }

  #carouselone .owl-prev {
    width: 40px;
    height: 40px;
    
  }

  // <!-- carousel-block .--> //


  // <!-- Testimonial section  --> //

  .testimonial-section {

    &__wrap-carousel {
      padding-left: 0px;
      padding-right: 0px;
    }
  }

  // <!-- Testimonial section  --> //


  // <!-- Footer section --> //

  .footer-section {
    
    &__item-wrap{
      justify-content: center;
      width: 100%;
  
    }
  }

  // <!-- Footer section --> //
}

