@import "reset-style.scss";
@import "fonts-collors";

// <!-- header-section Start -->//.

/*------------------
 slicknav
  ---------------------*/

#menu {
    display: none;
}

.slicknav_menu {
    display: none;
}

/*------------------
 slicknav
  ---------------------*/


.header-section {

    &__top {
        padding: 2px 40px;
        background: #081624;
    }

    &__container-fluid {
        display: flex;
        justify-content: space-between;
    }

    &__text-left {

        @include small-top();
    }

    &__text-right {

        @include small-top();
    }

    &__site-navbar {}


    .header-left {

        &__site-logo {
            margin-right: 100px;
            padding-left: 63px;
            padding-top: 33px;
            float: left;
        }

        &__wrap-item {
            list-style: none;
            text-decoration: none;
            margin: 0;
            padding: 0;
            display: flex;
            float: left;
        }

        &__item {
            display: block;
            padding: 32px 16px;
            text-decoration: none;
            margin-right: 35px;
            font-weight: 600;
            color: #081624;
            font-size: 15px;
            position: relative;

            &:after {
                position: absolute;
                content: "";
                width: 0%;
                height: 7px;
                left: 0;
                bottom: 0;
                background: #ffc000;
                -webkit-transition: all .4s;
                -moz-transition: all .4s;
                -o-transition: all .4s;
                transition: all .4s;
            }

            &:hover {
                &:after {
                    position: absolute;
                    content: "";
                    width: 100%;
                    height: 7px;
                    left: 0;
                    bottom: 0;
                    background: #ffc000;
                    -webkit-transition: all .4s;
                    -moz-transition: all .4s;
                    -o-transition: all .4s;
                    transition: all .4s;
                }
            }
        }


        .solutions {
            position: relative;
            &:hover {

                .header-left__sub-menu {
                    visibility: visible;
                    opacity: 1;
                }
            }
        }

        &__sub-menu {
            position: absolute;
            top: 31px;
            left: 0%;
            width: 180px;
            z-index: 9;
            background: #fff;
            visibility: hidden;
            opacity: 0;
            margin-top: 49px;
            text-align: left;
            -webkit-transition: all 0.4s;
            transition: all 0.4s;
            list-style: none;
        }

        &__subitem {
            text-decoration: none;
            font-weight: 600;
            color: #081624;
            font-size: 15px;
        }

        &__content {
            padding: 20px 0px 20px 15px;
            text-decoration: none;
            margin-right: 35px;
            font-weight: 600;
            color: #081624;
            font-size: 15px;
        }
    }

    .header-right {
        float: right;
        display: flex;

        &__header-info-box {
            display: flex;
            margin-right: 40px;
            padding: 21px 0 15px;
        }

        &__hib-icon {
            margin-right: 13px;
        }

        &__hib-text {}

        &__contact {
            @include h6();
        }

        &__sub-contact {
            @include p();
        }

        &__search-switch {
            right: 0;
            top: 0;
            width: 83px;
            height: 70px;
            color: #fff;
            font-size: 25px;
            border: none;
            background: #ffc000;
            cursor: pointer;
        }
    }
}


// <!-- header-section End -->//.


// <!-- carousel-block Start.-->//.


.carousel-block {
    display: flex;
    width: 100%;
}

.owl-carousel {

    .active {

        .sb-white {
            margin-top: 0px;
            opacity: 1;
            -webkit-transition: all 0.5s ease 0.4s;
            transition: all 0.5s ease 0.4s;
        }

        .sb-dark {
            margin-top: 0px;
            opacity: 1;
            -webkit-transition: all 0.5s ease 0.6s;
            transition: all 0.5s ease 0.6s;
        }

        .owl-carousel__caption-text {
            opacity: 1;
            -webkit-transition: all 0.5s ease 0.2s;
            transition: all 0.5s ease 0.2s;
            top: 0;
        }
    }

    &__wrap-img {
        position: relative;
        display: flex;

    }

    &__main-img {
        height: 777px;
    }

    &__wrap-text {
        left: 20%;
        top: 27%;

        .sb-white {
            color: #081624;
            background: #fff;
            margin-right: 1.5rem;
            margin-top: 100px;
            opacity: 0;

        }

        .sb-dark {
            color: #fff;
            background: #081624;
            margin-top: 100px;
            opacity: 0;

        }
    }

    &__caption-text {
        width: 700px;
        margin: 0;
        font-size: 90px;
        font-weight: 300;
        color: #fff;
        line-height: 1.2;
        margin-bottom: 34px;
        opacity: 0;
        position: relative;
        top: 100px;

        span {
            padding-left: 25px;
            padding-bottom: 15px;
            display: inline-block;
            background: #ffc000;
        }

        :nth-child(1) {
            color: #081624;
            margin-right: -24px;
        }

        :nth-child(2) {
            padding-right: 14px;
        }

        :last-child {
            padding-right: 30px;
        }

    }

    &__wrap-text {
        position: absolute;
    }

    &__site-btn {

        font-size: 14px;
        font-weight: 600;
        padding: 23px 50px;
        text-transform: uppercase;
        display: inline-block;
        line-height: normal;
        cursor: pointer;
        text-decoration: none;
    }

}

// <!-- carousel-block End.-->//.


// <!-- services-section Start.-->//.

.services-section {
    position: relative;
    z-index: 1;

    &__services-warp {
        position: relative;
        max-width: 1227px;
        margin: -91px auto 0;
        padding-top: 56px;
        padding-bottom: 30px;
        z-index: 9;
        background: #fff;

        &:after {
            position: absolute;
            content: "";
            width: 100%;
            height: 50%;
            top: 0;
            left: 0;
            z-index: -2;
            -webkit-box-shadow: 0 -43px 41px rgba(0, 0, 0, 0.48);
            box-shadow: 0 -43px 41px rgba(0, 0, 0, 0.48);
            border-top: 4px solid #ffc000;
        }
    }

    &__container {
        padding-right: 40px;
        padding-left: 40px;
        background-color: #fff;
    }

    &__wrap-item {

        width: 33.333333%;
        margin-bottom: 55px;
    }

    &__service-item {
        display: flex;
        margin-bottom: 20px;
    }

    &__subtext {
        @include subtext();
        max-width: 348px;
    }

    &__icon {
        width: 41px;
        height: 41px;
        margin-left: 7px;
        margin-right: 20px;

    }

    &__desc {
        @include h5();
    }
}

// <!-- services-section End.-->//.


// <!-- features-section Start.-->//.

.features-section {
    background-image: url(../img/features-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    padding-top: 103px;
    padding-bottom: 73px;

    &__img-block {

        width: 30%;
        padding-right: 15px;
        padding-left: 15px;

        &:last-child {
            margin: 0;
        }
    }

    &__logo {
        max-width: 100%;
        min-width: 100%;
        vertical-align: middle;
    }

    &__wrap-text {
        padding: 45px 27px 43px;
        background: #fff;
    }

    &__desc {
        @include h5();
        margin-bottom: 30px;
    }

    &__subtext {
        @include subtext();
        margin-bottom: 25px;
    }

    &__more-btn {
        display: inline-block;
        color: #ffc000;
        font-size: 12px;
        text-transform: uppercase;
        border: 2px solid #ffc000;
        padding: 15px;
        min-width: 92px;
        text-align: center;
        text-decoration: none;

        &:hover {
            background: #ffc000;
            color: #fff;
        }
    }
}

// <!-- features-section End.-->//.


// <!-- clients-section Start.-->//.

.clients-section {

    padding-top: 103px;
    padding-bottom: 103px;

    &__container {}

    &__client-text {
        margin-bottom: 90px;
    }

    &__main-text {
        margin: 0;
        color: #081624;
        font-weight: 300;
        font-size: 38px;
        text-align: center;
        margin-bottom: 40px;
    }

    &__subtext {
        color: #718090;
        line-height: 2;
        font-size: 18px;
        text-align: center;
    }
}

// <!-- clients-section End.-->//.


// <!-- Testimonial section Start-->//.

.testimonial-section {

    &__bg {
        background-image: url(../img/testimonial-bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
        width: 50%;
    }

    &__row {
        display: flex;
    }

    &__box {
        padding: 70px 0px 40px;
        background: #17172d;
        width: 50%;
    }

    &__wrap-carousel {
        max-width: 740px;
        margin: 0 auto;
    }

    &__text {
        color: #fff;
        font-weight: 300;
        margin-bottom: 40px;
    }

    &__subtext {

        color: #718090;
        line-height: 2;
        font-size: 18px;
        font-style: italic;
        margin-bottom: 55px;
    }

    &__icon {
        width: 82px !important;
        height: 82px;
        float: left;
        margin-right: 33px;
        border-radius: 50%;
    }

    &__name-wrap {
        padding-bottom: 70px;
    }

    &__name {
        font-weight: 400;
        font-size: 18px;
        color: #fff;
        padding-top: 20px;
        margin-bottom: 4px;
    }

    &__position-personal {
        font-size: 12px;
        color: #718090;
    }
}

// <!-- Testimonial section End-->//.


// <!-- Call to action section Start-->//.

.cta-section {

    padding: 43px 0;
    background: #ffc000;

    &__container {}

    &__row {
        margin-right: -25px;
        margin-left: -25px;
    }

    &__items-center {

        width: 75%;
    }

    h2 {
        color: #fff;
        font-size: 37px;
        font-weight: 300;
        margin: 0;
    }

    &__site-btn {
        @include site-btn();
        background: #081624;
    }

    &__lg-right {}
}

// <!-- Call to action section End-->//.


// <!-- Video section start-->//.

.video-section {
    padding-top: 103px;
    padding-bottom: 103px;

    &__container {}

    &__row {}

    &__wrap-text {
        max-width: 50%;
    }

    &__main-text {
        font-weight: 300;
        margin-top: 0;
        margin-bottom: 40px;
    }

    &__subtext {
        @include subtext();
        line-height: 2;
        margin-bottom: 46px;
        max-width: 95%;
    }

    &__site-btn {
        @include site-btn();
        background: #ffc000;
    }

    &__wrap-video {

        width: 50%;
    }

    &__video-box {
        background-image: url(../img/video-box.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    &__video-popup {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 88px;
        height: 88px;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        font-size: 27px;
        border-radius: 50%;
        color: #fff;
        background: rgba(255, 255, 255, 0.27);
        text-decoration: none;
    }
}

// <!-- Video section End-->//.


// <!-- Footer section Start -->//

.footer-section {
    background: #17172d;
    padding-top: 77px;

    &__row {
        display: flex;
        flex-wrap: wrap;
    }

    &__item-wrap {

        width: 23%;
        position: relative;
        padding-right: 10px;
        padding-left: 10px;
    }

    &__item-block {
        margin-bottom: 40px;

    }

    &__logo-foot {
        margin-bottom: 20px;
    }

    &__subtext {
        @include subtext();
        margin-bottom: 35px;
        padding-right: 50px;
    }

    &__link {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        width: 41px;
        height: 41px;
        color: #fff;
        margin-right: 14px;
        margin-bottom: 14px;
        border-radius: 13px;
        text-decoration: none;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        background: #39334f;
        -webkit-transition: all 0.4s;
        transition: all 0.4s;

        &:hover {
            background: #ffc000;
        }
    }

    &__main-text {
        @include footer-subject();
    }

    &__item-list {
        padding: 0;

        li {
            list-style: none;
            margin-bottom: 7px;

            a {
                text-decoration: none;
                @include subtext();
            }
        }
    }

    &__info-box {
        display: flex;
        margin-bottom: 30px;
    }

    &__fib-icon {
        float: left;
        width: 48px;
        padding-top: 8px;
    }

    &__fib-text {

        p {
            margin: 0;
            @include subtext();
        }
    }

    &__footer-search {
        position: relative;

        input {
            width: 100%;
            height: 47px;
            padding-left: 16px;
            font-size: 12px;
            color: #718090;
            font-style: italic;
            border: none;
            background: #393958;
        }

        button {
            position: absolute;
            width: 47px;
            height: 100%;
            right: 0;
            top: 0;
            color: #ffc000;
            font-size: 12px;
            border: none;
            background: transparent;
            cursor: pointer;
        }
    }
}

.footer-bottom {
    margin-top: 55px;
    background: #03031b;

    &__container {}

    &__row {
        justify-content: space-between;
    }

    &__copyright {
        color: #646470;
        font-size: 14px;
        padding-top: 25px;
    }

    &__footer-menu-block {}

    &__footer-menu {
        display: flex;
        list-style: none;
        text-align: right;
        margin: 0;
        padding-right: 98px;
    }

    &__item {
        position: relative;
        display: block;
        text-decoration: none;
        display: block;
        padding: 25px 17px;
        margin-left: 13px;
        font-size: 15px;
        color: #646470;
        margin-bottom: 2px;

        &:after {
            position: absolute;
            content: "";
            width: 0%;
            height: 1px;
            left: 0;
            bottom: 0;
            background: #ffc000;
            -webkit-transition: all .4s;
            -moz-transition: all .4s;
            -o-transition: all .4s;
            transition: all .4s;
        }

        &:hover {

            &:after {
                position: absolute;
                content: "";
                width: 100%;
                height: 1px;
                left: 0;
                bottom: 0;
                background: #ffc000;
                -webkit-transition: all .4s;
                -moz-transition: all .4s;
                -o-transition: all .4s;
                transition: all .4s;
            }
        }
    }
}

// <!-- Footer section End -->//