/*---------------- Color -----------------*/
/*---------------- Color -----------------*/
a {
  text-decoration: none !important; }

/*----- background section -----*/
.site-background {
  background-image: url(../img/hero_bg.jpg);
  background-position: 50% 0px;
  transform: translate(0);
  min-height: 600px;
  height: calc(80vh);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }
  .site-background a {
    color: white; }
    .site-background a:hover {
      color: white; }
  .site-background .site-background-wrap {
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%; }
    .site-background .site-background-wrap .site-navbar-wrap {
      font-size: 0.8rem; }
      .site-background .site-background-wrap .site-navbar-wrap .site-navbar-top {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
    .site-background .site-background-wrap .site-navbar .site-logo {
      font-weight: 200; }
      .site-background .site-background-wrap .site-navbar .site-logo a:hover {
        color: white; }
  .site-background .site-headline-text .headline-text {
    height: calc(50vh); }
    .site-background .site-headline-text .headline-text .sub-text {
      font-size: 1.1rem;
      text-transform: uppercase;
      color: rgba(255, 255, 255, 0.7);
      letter-spacing: .2em; }
    .site-background .site-headline-text .headline-text h1 {
      font-size: 5rem;
      font-weight: 700;
      color: white; }

.wrap-widget a:link {
  color: white; }

/*-- Dropdown menu --*/
.site-menu {
  margin: 0;
  padding: 0; }
  .site-menu > li {
    display: inline-block;
    padding: 10px 5px; }
    .site-menu > li > a {
      padding: 10px 11px;
      color: rgba(255, 255, 255, 0.6);
      font-size: 15px;
      display: block; }
      .site-menu > li > a:hover {
        color: white; }
  .site-menu .has-children {
    position: relative; }
    .site-menu .has-children:hover > ul {
      visibility: visible;
      opacity: 1;
      margin: 0; }
    .site-menu .has-children > ul {
      min-width: 202px;
      visibility: hidden;
      opacity: 0;
      position: absolute;
      display: flex;
      flex-direction: column;
      box-shadow: 0 0px 4px 0px rgba(0, 0, 0, 0.25);
      border-left: 1px solid #edf0f5;
      border-right: 1px solid #edf0f5;
      border-bottom: 1px solid #edf0f5;
      background-color: white;
      text-align: left;
      padding: 0;
      z-index: 1;
      -webkit-transition: 0.2s 0s;
      -o-transition: 0.2s 0s;
      transition: 0.2s 0s;
      margin-top: 20px;
      top: 64px; }
      .site-menu .has-children > ul > li {
        display: inline-block;
        padding: 5px 5px; }
        .site-menu .has-children > ul > li > ul {
          left: 100%;
          top: 0; }
        .site-menu .has-children > ul > li:hover {
          background: #f4f5f9; }
        .site-menu .has-children > ul > li > a {
          padding: 10px 10px;
          color: #343a40;
          font-size: 15px;
          padding: 9px 20px;
          display: block; }

.has-children .btn-dropdown:before {
  transform: rotate(266deg);
  top: 33%;
  right: 20px; }

.has-children > a:before {
  position: absolute;
  content: "\e313";
  font-size: 16px;
  top: 53%;
  right: -3px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-family: 'icomoon'; }

.arrow-top:before {
  border: 10px transparent solid;
  border-bottom: 10px white solid;
  border-width: 10px;
  margin-left: -10px;
  bottom: 100%;
  left: 20%;
  content: " ";
  height: 20px;
  width: 20px;
  position: absolute;
  pointer-events: none; }

/*-- Dropdown menu --*/
/*----- background section -----*/
.site-section {
  padding-top: 5em;
  padding-right: 0px;
  padding-bottom: 5em;
  padding-left: 0px; }
  .site-section .media .icon {
    position: relative;
    color: #000; }
    .site-section .media .icon:before {
      content: "";
      position: absolute;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background-color: #ff5733;
      left: -15px;
      top: -5px;
      z-index: -1; }

.img-border:before {
  position: absolute;
  content: "";
  top: 20px;
  left: 30px;
  right: 30px;
  bottom: 20px;
  border: 7px solid #98ccd3; }

.site-block .row-items {
  height: calc(50% - 15px);
  margin-bottom: 30px; }
  .site-block .row-items .wrap-content .feature {
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
    height: 100%;
    top: 0px;
    position: relative;
    -webkit-box-shadow: 0 5px 20px -5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 20px -5px rgba(0, 0, 0, 0.1); }
  .site-block .row-items .wrap-content .feature h3 {
    color: #000;
    font-size: 1.2rem;
    font-weight: 400; }
  .site-block .row-items .wrap-content:hover a {
    color: #54b7c4;
    top: -8px; }
  .site-block .row-items a {
    color: #98ccd3; }

.project-entry {
  overflow: hidden;
  display: block; }
  .project-entry .figure {
    overflow: hidden;
    margin-bottom: 20px; }
    .project-entry .figure img {
      -webkit-transition: .3s all ease;
      -o-transition: .3s all ease;
      transition: .3s all ease; }
      .project-entry .figure img:hover {
        -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05); }
  .project-entry h3 {
    font-size: 18px;
    line-height: 1.3; }
    .project-entry h3 a {
      color: #000;
      font-weight: 400; }

.site-footer {
  padding: 4em 0;
  background: #333333; }
  .site-footer ul li {
    margin-bottom: 10px; }
  .site-footer a {
    color: #999999; }
  .site-footer p {
    color: #737373; }
  .site-footer .footer-heading {
    font-size: 20px;
    color: white; }
  .site-footer .list-unstyled {
    padding-left: 0;
    list-style: none; }
    .site-footer .list-unstyled li :hover {
      color: white; }
    .site-footer .list-unstyled li .date {
      color: #737373;
      font-size: 0.8rem;
      display: block; }
    .site-footer .list-unstyled li a:hover .text .heading {
      color: white; }
    .site-footer .list-unstyled li a:hover img {
      opacity: .5; }
    .site-footer .list-unstyled li a .text .heading {
      font-size: 18px;
      line-height: 1.5;
      margin: 0;
      padding: 0;
      -webkit-transition: .3s all ease;
      -o-transition: .3s all ease;
      transition: .3s all ease;
      color: #999999; }
    .site-footer .list-unstyled li a .image {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 90px;
      flex: 0 0 90px; }
      .site-footer .list-unstyled li a .image img {
        -webkit-transition: .3s all ease-in-out;
        -o-transition: .3s all ease-in-out;
        transition: .3s all ease-in-out; }
  .site-footer .btn-primary {
    color: white;
    background-color: #98ccd3;
    border-color: #98ccd3;
    border: 2px solid transparent; }
    .site-footer .btn-primary:hover {
      background-color: #333333;
      border-color: #98ccd3; }
  .site-footer .wrap-icon-footer :hover {
    color: white; }
  .site-footer .form-control {
    height: 47px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important; }

@media only screen and (max-width: 768px) {
  .anchor-dropdown {
    justify-content: space-between; }
  .wrap-site-navigation {
    display: none; }
  .site-background .site-headline-text .headline-text h1 {
    font-size: 3rem;
    font-weight: 700;
    color: white; } }
