@media only screen and (max-width: 1366px) {
  .header-section .header-left {
    display: flex;
    float: none;
    justify-content: center; }
  .header-section .header-right {
    display: flex;
    float: none;
    justify-content: center; }
  .testimonial-section__wrap-carousel {
    padding-left: 30px; }
  .testimonial-section__content {
    width: 608px; } }
