@import "fonts-color";

@media only screen and (max-width: 1000px) {


    // <!-- Header menu Start -->//.  

    .header__logo-block {
        margin-left: 15px;
    }

    .header__number-phone {
        margin-right: 15px;
    }

    .header-menu__login-block {
        margin-right: 15px;
    }

      // <!-- Header menu end -->//.


    //   <!-- input block start --> 

    .input-block {

     &__section {
            justify-content: center;
            display: grid;
        }
    }

    .input-wrap {
        margin-left: 50px;
    }

    //   <!-- input block end --> 


    // <!-- Home Start -->

    .main-home {
        &__section {
            justify-content: center;
            flex-wrap: wrap;
        }

        &__wrap-home {
            margin-bottom: 20px;
        }
    }

    // <!-- Home end -->


    // <!-- Image block start -->

    .image-block {


        &__body-wrap {
            flex-wrap: wrap;
            display: grid;
            grid-template-columns: 222px 222px;
            grid-gap: 25px;
            justify-content: center;

        }

        &__image-wrap {
            margin-top: 10px;
        }
    }

    // <!-- Image block End -->


    // <!-- Login block start -->

.main-login {

    &__section {
        flex-direction: column;
        align-items: center;
    }

    &__login-section {
        margin-right: 0px;
    }

    &__mail-section {
        margin-top: 11px;
    }

    &__social-network-section {
        display: block;
        text-align: center;
    }
}

    // <!-- Login block End -->



    // <!-- Footer start -->

    .main-footer {

        &__section {

            flex-wrap: wrap;
            justify-content: space-around;
        }

        
        &__small-logo-block {

            display: none;
        }
    }

     // <!-- Footer End -->


    //  <!-- staff-block  start-->

.main-staff {

    &__section {

        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

    }

    &__staff-container {
        grid-template-columns: repeat(auto-fill, 222px);
        width: 970px;
        justify-content: center;
    }
}
    
    //  <!-- staff-block  End-->
}






@media only screen and (max-width: 680px) {

    // <!-- Header top Start -->

    .header {

        &__section {
            display: block ;
            
        }

        &__logo-block {
            width: 284px ;
            margin: 0 auto;
            
            }
    
        &__number-phone {
            text-align: center;
            margin-top: 20px ;
            }
    }

     // <!-- Header top End -->


    //  <!-- Header menu Start -->

    .header-menu {
        height: 113px;

        &__section {
            display: block;
        }

        &__list {
            padding-top: 10px;
            margin-top: 0;
            display: flex;
            justify-content: center;
        }

        &__item-wrap {

            .item {

                .menu-item {
                    width: 78px;
                    
                    &:hover {
                        width: 78px;
                        height: 33px;

                        &:after {
                            width: 90px;
                        }
    
                        &:before {
                            width: 80px;
                        }
                    }
                }
            }
        }

        &__login-block {
            text-align: center;
        }
    }

    //  <!-- Header menu End -->

}


@media only screen and (max-width: 540px) {

    // <!-- Header menu Start //-->

    .header-menu {
        height: 113px;

        &__item-wrap {

            .item {

                .menu-item {
                    width: 70px;
                    
                    &:hover {
                        width: 70px;
                        height: 33px;

                        &:after {
                            width: 80px;
                        }
    
                        &:before {
                            width: 70px;
                        }
                    }
                }
            }
        }
    }

    .header-menu{

        &__list {
            font-size: 12px;
        }
    }

    // <!-- Header menu End //-->


    // <!-- input block start --> //

    .input-block {

        &__office-block {

            max-width: 411px;
            margin-left: 5px;
            margin-right: 5px;

            .content-img {
                border: 2px solid #f2e8e8;
            }

            .content-img img {
                width: 100%;
            }

            .text-block {
                margin-left: 14px;

                .img-text {
                    font-size: 19px;
                }

                .img-subtext {
                    margin-top: 11px;
                    margin-bottom: 0;
                }
            
            }
        }
    }


    // <!-- input block End--> //


        .image-block {


            &__body-wrap {
                flex-wrap: wrap;
                display: grid;
                grid-template-columns: 222px;
                grid-gap: 25px;
                justify-content: center;

            }

        }


        // <!-- Tabs  -->//.

        .tab-content {
            width: 280px;
            height: 387px;


            .subtext-top {
                margin-left: 5px;
            }

            .info-text {
                width: 76%;
                font-size: 12px;
                padding: 6px;
                margin-left: 0px;
            }

            .radio-block {
                margin-left: 21px;
            }

        }

        .wrap-number .move-box {
            margin-left: 0;
        }
        
        // <!-- Tabs  -->//.


//   <!-- Login block start -->//

    .main-login {

        &__login-section {
            width: auto;
            height: auto;
            padding-top: 10px;



            .login-text {
                font-size: 17px;
                margin: 0;
                text-align: center;
                display: block;
            }

            .login-form {
                margin: 0;
                display: flex;
                flex-direction: column;
                margin-left: 27px;
                margin-right: 27px;

                .login-name {
                    margin-right: 0px;
                    margin-top: 6px;
                    margin-bottom: 8px;
                }

                .login-password {
                    margin-bottom: 8px;
                    margin-right: 0;
                }

                .btn-login {
                    margin: 0 auto;
                    margin-bottom: 8px;
                }
            }
        }

        &__sign-up-section {

            max-width: 175px;

            .signup-text {
                display: none;
            }

            .signup-btn-text  {
                font-size: 20px;
            }
        }

        &__mail-section {
            padding-top: 0;

            .mail-text {
                font-size: 13px;
                margin-left: 0px;
                text-align: center;
                display: block;
                margin-top: 8px;
            }

            .mail-form {

                text-align: center;
                margin-left: 10px;
                margin-right: 10px;
                margin-top: 8px;

                .mail-item {
                    width: auto;
                    display: flex;
                    flex-direction: column;
                    height: auto;
                    margin-right: 0px;
                    margin-bottom: 10px;
                }

                .btn-mail {
                    margin-right: 0;
                }
            }
        }

    }

    #bootstrap-overrides-tabs .nav-link {
        font-size: 20px;
    }

    #bootstrap-overrides-tabs .nav-item {
        max-width: 137px;
    }

    .input-wrap {
        margin-left: 50px;
    }

    //   <!-- Login block End -->//

}

