
$bg-black:#224264;
$bg-white:rgba(255, 255, 255, 0.856);
$bg-green:#94d4c4;

// <!-- Color text Start -->//.

$color-main: rgb(255, 255, 255);
$color-secondary: #061e37;
$color-text: rgb(176, 190, 197);
$color-bg-green:#1de9b6;

// <!-- Color text end -->//.

// <!-- Size text Start -->//.

$giant-size: 55px;
$large-size: 45px;
$medium-size: 18px;
$medium-size20: 20px;
$small-size: 15px;

// <!-- Size text end -->//.

@mixin hover-color ($color-main, $bg-black) {
  &:hover {
    color: $color-main;
    text-decoration: none;
    background: $bg-black;
    border: 1px solid $color-main;
    border: none;
  }
}

@mixin base-btn ($color, $bg-color, $decoration-underline) {
  color: $color;
  background: $bg-color;
  text-decoration: $decoration-underline;
  text-transform: uppercase;
  font-weight: bold;
  font-size: $small-size;
  line-height: 1.2;
  padding: 22px 40px 22px 40px;
  border-radius: 7px;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
  
}

.black-btn {
  @include base-btn ($color-main, $color-secondary, none);
  margin-right: 30px;
  // color: $color-main;
  // background: $color-secondary;
  @include hover-color ($color-main, $bg-black);
  // &:hover {
  //   color: $color-main;
  //   text-decoration: none;
  // }
}

.white-btn {
  @include base-btn  ($color-secondary, $color-main, none);
  // color: $color-secondary;
  // background: $color-main;
  @include hover-color ($color-secondary, $bg-white);
  // &:hover {
  //   color: $color-secondary;
  //   text-decoration: none;
  // }
}

.green-btn {
  @include base-btn ($color-main, $color-bg-green, none);
  // color: $color-main;
  // background: $color-bg-green;
  @include hover-color ($color-main, $bg-green);
  // &:hover {
  //   color: $color-main;
  //   text-decoration: none;
  // }
}
