@media only screen and (max-width: 1600px) {

  #section {
    max-width: 1300px;
    margin: 0 auto;
  }

  .header-main {

    .main-container {

      .main-subtext {
        max-width: 516px;
      }
    }
  }
}

@media only screen and (max-width: 1366px) {

  #section {
    max-width: 1170px;
    margin: 0 auto;
  }

  .header-main {

    .main-container {

      .main-subtext {
        max-width: 516px;
      }
    }
  }

  .inner-title {
    margin-left: 40px;
    margin-right: 40px;
  }

  .slider-item {
    width: 480px;
  }

  .carousel-body {
    margin-right: 20px;
  }

}