@import "carousel";
@import "button";

// <!-- Color text Start -->//.

$color-main: rgb(255, 255, 255);
$color-secondary: #061e37;
$color-text: rgb(176, 190, 197);

// <!-- Color text end -->//.

// <!-- Size text Start -->//.

$giant-size: 55px;
$large-size: 45px;
$medium-size: 18px;
$medium-size20: 20px;
$small-size: 15px;


// <!-- Size text end -->//.

.section {
  max-width: 1600px;
  margin: 0 auto;
}

body {
  font-family: 'Raleway', sans-serif;
}

// <!-- header Start -->//.

.bg-img {
  background: url(../img/header-bg.png) no-repeat;
  height: 900px;
  background-size: cover;
  position: relative;
  display:block;

    .bg-gradient {
      position:absolute;
      background-image: -moz-linear-gradient( 143deg, rgba(0,184,212, 0.7) 0%, rgba(29,233,182, 1) 100%);
      background-image: -webkit-linear-gradient( 143deg, rgba(0,184,212, 0.7) 0%, rgba(29,233,182, 1) 100%);
      background-image: -ms-linear-gradient( 143deg, rgba(0,184,212, 0.7) 0%, rgba(29,233,182, 1) 100%);
      width: 100%;
      height:100%;

    .section {
      max-width: 1600px;
      margin: 0 auto;

      .header {
        display: flex;
        justify-content: space-between;
        padding-top: 50px;
      
        .nav-button {
          border: 1px solid $color-main;
          text-align: center;
          height: 25px;
      
          .nav-btn {
            text-decoration: none;
            color: $color-main;
            font-size: $small-size;
            padding: 0px 20px 0px 20px;
            display: block;
            height: 100%;
            line-height: 21px;
          }
        }
      }
    }
  }
}

// <!-- header End -->//

// <!-- header main start -->//

.header-main {
  margin-top: 200px;
  display: flex;
  justify-content: space-between;

  .main-container {
    
    .main-text {
      max-width: 500px;

      h1 {
        margin: 0;
        font-size: $giant-size;
        color: $color-main;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.182;
      }
    }

    .main-subtext {
      max-width: 585px;
      color: $color-main;
      line-height: 30px;
      margin-top: 15px;
    }

    .main-btn {
      margin-top: 55px;
    }
  }

  .video-container {

    .window-video {
      width: 569px;
      height: 319px;
      border-radius: 5px;
      box-shadow: 3px 16px 12px -20px #000000;
    }
  }
}
video[poster] {

}

// <!-- header main end -->//

// <!-- Easy-Useful Start -->

.main-started {

  .easy-useful {
    margin-top: 120px;

    .main-tittle {
      color: $color-secondary;
      font-weight: bold;
      font-size: $large-size;
      line-height: 1.2;
      display: block;
      text-align: center;
    }
    
    .text-subtitle {
      font-size: 25px;
      font-weight: bold;
      line-height: 1.2;
      color: $color-text;
      display: block;
      text-align: center;
      margin-bottom: 27px;
    }

    .inner-excerpt {
      max-width: 590px;
      height: 90px;
      margin: 0 auto;
      margin-bottom: 80px;
    }
  }
  .inner-title {
    display: flex;
    justify-content: space-between;

    .content-title {
      display: flex;
      flex-direction: column;
      align-items: center;

      .secondary-subject {
        font-weight: bold;
        color: $color-secondary;
        font-size: $medium-size20;
        line-height: 1.25;
        margin-top: 40px;
        margin-bottom: 23px;
      }
      .excerpt-desc {
        max-width: 360px;
        height: 70px;
        text-align: center;

        .excerpt {
          color: $color-text;
          line-height: 22px;
        }
      }
    }
  }
  .btn-container {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 100px;
  }
}

.inner-holder {
  display: flex;
  
  .foot-section {
    width: 25%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .collor-one {
    background-color: #80d8ff;
  }
  .collor-two {
    background-color: #82b1ff;
  }
  .collor-three {
    background-color: #b388ff;
  }
  .collor-four {
    background-color: #ea80fc;
  }
}

// <!-- Easy-Useful End -->


// <!-- Services start -->

.main-services {

  .wrap-services { 
    margin-top: 110px;

    .main-tittle {
      font-weight: bold;
      font-size: $large-size;
      line-height: 1.2;
      color: $color-secondary;
      display: block;
      text-align: center;
    }
    .desc-services {
      max-width: 560px;
      height: 60px;
      margin: 0 auto;
      margin-top: 35px;
      margin-bottom: 50px;
    }
  }

  .content-statistics {
    text-align: -webkit-center;
    margin-bottom: 100px;

    .aside {
      max-width: 746px;
      box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.13);
      margin-bottom: 20px;      

      &:hover {
        box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.1);
      }
      .active {
        margin-bottom: 25px;
      }
      .trigger {

        padding: 20px 25px 20px 25px;
        display: flex;
        justify-content: space-between;
        
        .content {  

          display: flex;
          justify-content: space-between;
          align-items: center;         

          .logo {
            width: 24px;
            vertical-align: middle;
            margin-right: 25px;
          }
          .desc {
            font-size: $medium-size;
            color: #061e37;
            font-weight: bold;
            text-transform: uppercase;
            line-height: 1.2;
          }
        }
        .triangle-btn {
          width: 0;
          height: 0;
          border-left: 7px solid transparent;
          border-right: 7px solid transparent;
          border-top: 8px solid #061e37;
          margin-top: 10px;
        }
      }

      .panel {
        display: flex;
        padding: 20px 25px 20px 25px;

        .image-content {
          margin-right: 25px;

          .image-statistic {

          }
        }
        .excerpt-stat {
          max-width: 470px;
          text-align: left;

          .excerpt-text {
            color: rgb(6, 30, 55);
            line-height: 1.667;
          }
        }
      }
    }
  }
}

// <!-- Services End -->


// <!-- Customers start -->



.bg-customers {
  background: url(../img/customers.png) no-repeat;
  height: 564px;
  background-size: cover;
  position: relative;
  display:block;

  .bg-color {
    position:absolute;
    background-image: -webkit-linear-gradient(143deg, rgba(0, 184, 212, 0.9) 0%, rgba(29, 233, 182, 1) 100%);
    background-image: -moz-linear-gradient(143deg, rgba(0, 184, 212, 0.9) 0%, rgba(29, 233, 182, 1) 100%);
    background-image: -ms-linear-gradient(143deg, rgba(0, 184, 212, 0.9) 0%, rgba(29, 233, 182, 1) 100%);
    width: 100%;
    height:100%;

    .section {

      .main-block {
        display: flex;
        justify-content: space-between;

        .section-costumers {
          margin-top: 100px;

          .caption-text {
            max-width: 520px;
            height: 215px;
            margin-bottom: 80px;

            .text-costomers {
              font-size: $large-size;
              font-weight: bold;
              color: $color-main;
              line-height: 1.2;

            }
          .caption-subtext {
            font-size: $small-size;
            font-weight: bold;
            line-height: 1.667;
            color: $color-main;
            
            }
          }
          .block-btn {

          }
        }
      }    
    }
  }
}

// <!-- Team start -->

.section {

  .team-block {
margin-top: 101px;

    .main-tittle {
      font-weight: bold;
      font-size: $large-size;
      line-height: 1.2;
      color: $color-secondary;
      display: block;
      text-align: center;
    }
    .desc-team {
      max-width: 560px;
      margin: 0 auto;
      margin-bottom: 80px;
    }
  }

  .photo-block {
    .description {
      margin-top: 42px;

      .name-text {
        font-size: $medium-size;
        color: $color-secondary;
        font-weight: bold;
        line-height: 1.389
      }
      .desc-people {
        max-width: 645px;
        height: 80px;
        margin: 0 auto;
        margin-top: 25px;
        margin-bottom: 30px;
        font-size: $small-size;
      }
    }
    .social-network {
      margin-bottom: 90px;

      .control-aside {
        margin-right: 36px;
      }
    }
  }
}

// <!-- Team end -->

// <!-- Contact start -->

.main-contact {

  background-color: #fafafa;
  .section {

    .wrap-contact {

      padding-top: 90px;
      .main-tittle {
        font-weight: bold;
        font-size: $large-size;
        line-height: 1.2;
        color: #061e37;
        display: block;
        text-align: center;
      }
    }
    .desc-contact {
      max-width: 565px;
      height: 55px;
      margin: 0 auto;
      margin-bottom: 50px;
      
    }
    .main-form {
      display: flex;
      justify-content: center;

      .contact-form {

        margin-bottom: 100px;

        .section-form {

          max-width: 600px;

          .content-form {
            width: 278px;
            height: 48px;
            border-width: 1px;
            border-color: rgb(6, 30, 55);
            border-style: solid;
            border-radius: 5px;
            padding-left: 19px;
            margin-bottom: 20px;
          }

          .m-right {
            margin-right: 39px;
          }
        }
        .massage-aside {

          margin-bottom: 20px;
          .massage-contact {
            width: 598px;
            height: 148px;
            border-width: 1px;
            border-color: rgb(6, 30, 55);
            border-style: solid;
            border-radius: 5px;
            padding-left: 19px;
            resize: none;
            padding-top: 12px; 
          }
        }
        .section-send {

          .check-letter {
            display: flex;
            justify-content: space-between;

            .holder-check {

              margin-top: 14px;

              .checkbox-text {

                font-size: $small-size;
                color: rgb(6, 30, 55);
                line-height: 1.2;
              }
            }
            .button-send {

              width: 130px;
              height: 50px;
              text-transform: uppercase;
              border-radius: 5px;
              background-color: rgb(29, 233, 182);
              box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
              font-size: $small-size;
              color: $color-main;
              line-height: 1.875;
              border: none;
              cursor: pointer;
            }  
          }
        }
      }
    }
  }
}

// <!-- Contact end -->


// <!-- Footer start -->

.main-footer {
  background-color: #061e37;

  .section {

    .box-logo {
      display: flex;
      justify-content: space-between;
      padding-top: 100px;
      margin-bottom: 50px;

    }
    .holder-footer {
      display: flex;
      justify-content: space-between;
      padding-bottom: 103px;

      .inner-about {

        .about-nav {
          margin-bottom: 0px;
          padding-left: 0px;
          display: flex;
          color: $color-main;

          .nav-content {
            .underline {
              text-decoration: none;
              color: rgba(255, 255, 255, 0.502);
              line-height: 1.667;
              font-size: $small-size;
            }
          }

          .control-right {
            margin-right: 25px;
          }
          :first-child {
            list-style: none;
          }
        }
      }
      .wrap-social {

        .control-content {
          margin-right: 20px;
        }
      }
    }
  }  
}


// <!-- Footer end -->

// <!--repeating styles Start -->

.skin-main-subtext {
  display: block;
  text-align: center;
  line-height: 25px;
  color: $color-text;
  font-size: $small-size;
}

.main-tittle {
  color: $color-secondary;
  font-weight: bold;
  font-size: $large-size;
  line-height: 1.2;
  display: block;
  text-align: center;
}

.nav-menu {

  .menu-item {
    display: flex;
    list-style: none;
    padding-left: 0;

    .item-link {
      margin-left: 13px;
      margin-right: 13px;
      color: $color-main;
      font-size: $small-size;

      &:hover {
        color: $color-secondary;
        transition: .8s;
      }
      a {
        text-decoration: none;
        color: inherit;
      }
    }
    :first-child {
      margin-left: 0px;
    }

    :last-child {
      margin-right: 0px;
    }
  }  
}

.nav-logo {
  display: flex;

  .logo-dart {
    color: $color-main;
    font-size: 33px;
  }
  .aside {
    margin-left: 11px;
    line-height: 1;

    .logo-text {
      text-transform: uppercase;
      font-size: $small-size;
      color: $color-main;
      letter-spacing: 0.08em;
    }
  } 
}

.inner-circle {
  width: 60px;
  height: 60px;
  background: $color-main;
  border-radius: 50%;
  margin-right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-text {
  font-size: $medium-size20;
  color: $color-main;
  font-weight: bold;
  line-height: 1.25;
}

  .social-content {

    display: flex;
    justify-content: center;
    font-size: $medium-size20;
    line-height: 1.25;

    .aside-content {
      text-decoration: none;

      .icon-content {

        color: $color-text;
      }
    }
    :last-child {
      margin-right: 0px;
    }
  }


// <!--repeating styles end -->


