
/*---------------- Color -----------------*/

$heading-text-white: white;

$background-wrap: rgba(0, 0, 0, 0.4);

$site-menu-text: rgba(255, 255, 255, 0.6);

$site-menu-hover-gray: #f4f5f9;

$flaticon-black: #000;

$flaticon-bg-before: #ff5733;

$flaticon-main: #98ccd3;

$flaticon-hover: #54b7c4;

$footer-bg: #333333;

$footer-text-a: #999999;

$footer-text-p: #737373;

/*---------------- Color -----------------*/