/*------------------ Color ------------------*/

$heading-text-white: white;
$hover-bg-menu: darkgray;
$bg-color: #f1f1f1;
$bg_white-color: #fff;
$color-i: rgb(4, 146, 202);
$news-item-border: #f4f5f6;
$news-item-border-hover: rgba(4, 146, 202, 0.4);

/*------------------ Color ------------------*/