@import "reset-style.scss";
@import "fonts-colors.scss";

body {
  background-color: #f1f1f1;
  color: #26292d;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1;
}

.bg_black {
  background: linear-gradient(to top, rgb(39, 43, 47) 15%, rgb(33, 33, 33) 55%, rgb(33, 33, 33) 100%);
  border-radius: 0 0 4px 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
}

.bg_white {
  background: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
  border-radius: 4px;
}

.row-position {
  justify-content: space-evenly;
}

/*----- header section start-----*/

.logo_left {
  margin-left: 25px;
}

.menu_right {
  margin-right: 25px;

  &__list-item {

    li {
      margin-right: 3px;
      position: relative;
      transition: all .3s;

      &:hover {
        background-color: darkgray;
        // border-bottom: 3px solid rgb(4, 146, 202);

        .menu_right__dropdown {
          visibility: visible;
          opacity: 1;
        }

        i {
          color: rgb(4, 146, 202);
          animation: fas .7s;
        }

      }

      i {
        position: absolute;
        color: aliceblue;
        top: 7px;
        right: 7px;
        transition: color 1s;
      }

      a {
        color: $heading-text-white;
        padding: 7px 30px 7px 20px;
        display: block;
        background-color: #fbfbfb21;
        border-radius: 2px;
      }

      &:last-child {
        margin: 0;
      }
    }
  }

  &__dropdown {
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    padding-top: 3px;
    z-index: 20;
    visibility: hidden;
    opacity: 0;
    transition: all .3s;

    li {
      width: 100%;
      margin-bottom: 3px;
    }
  }
}

@keyframes fas {
  0% {
    transform: rotate(0deg);
  }

  50% {
    font-size: 22px;
  }

  100% {
    transform: rotate(360deg);
  }
}

/*----- header section end-----*/


/*----- Main start-----*/

.main-block {

  &__news-section {
    height: 800px;
  }

  &__description-section {
    height: 600px;
  }
}

/*----- Main end-----*/