@import "fonts-colors.scss";



body {
  background-color: $bg-color;
  color: #26292d;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

ul {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
  }
}

a {
  &:hover {
    text-decoration: none;
  }
}

/*----- header section start-----*/
.header {
  &__block {
    background: #171920;
    padding-top: 17px;
    padding-bottom: 17px;
  }

  &__logo-left {
    justify-content: center;
  }

  &__menu-right {
    .menu-nav {
      .nav-link {
        padding: 0;

        .link-menu {

          &:hover {
            color: #FFFFFF;

            &::after {
              visibility: visible;
              opacity: 1;
              transition: 0.4s;
              width: 100%;
            }
          }

          padding: 19px 19px 30px 19px;
          color: #A2A3A6;
          font-style: normal;
          font-weight: bold;
          font-size: 16px;
          line-height: 22px;
          text-transform: uppercase;
          position: relative;
          transition: color 0.4s;

          &::after {
            content: "";
            display: block;
            width: 0;
            height: 4px;
            background: #FF0303;
            position: absolute;
            top: 70px;
            left: 0;
            visibility: hidden;
            opacity: 0;
          }
        }

        .active {
          color: #FFFFFF;

          &::after {
            visibility: visible;
            opacity: 1;
            transition: 0.4s;
            width: 100%;
          }
        }
      }
    }
  }
}

/*----- header section end-----*/


/*----- Main start-----*/
.main-news {
  &__container {
    padding-top: 52px;
  }

  &__text-block {
    margin-bottom: 38px;
  }

  &__news-block {}

  &__news-item {
    margin-bottom: 30px;

    .content-block {
      background: #F9F9F9;
      border-radius: 4px;
      padding-bottom: 23px;

      .img-block {
        margin-bottom: 20px;

        img {
          display: block;
          max-width: 100%;
          height: auto;
        }
      }

      .text-block {
        padding-left: 25px;
        padding-right: 25px;

        .news-item-subtext {
          margin-bottom: 20px;
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 21px;
        }

        .news-item-text {
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 20px;
        }

        .read-more {
          color: #FF0303;
          font-style: normal;
          font-weight: bold;
          font-size: 14px;
          line-height: 19px;
          letter-spacing: 0.05em;

          &:hover {
            i {
              margin-left: 40px;
            }

            .right {
              &::before {
                visibility: visible;
                opacity: 1;
              }
            }
          }

          i {
            border: solid black;
            border-width: 0 2px 2px 0;
            display: inline-block;
            padding: 3px;
            border-color: #FF0303;
            transition: 0.4s;
          }

          .right {
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            position: relative;

            &::before {
              content: "";
              width: 40px;
              height: 2px;
              display: inline-block;
              background-color: red;
              position: absolute;
              transition: 0.3s;
              transform: rotate(45deg);
              left: -28px;
              top: -9px;
              visibility: hidden;
              opacity: 0;
            }
          }
        }
      }
    }
  }

  &__name-news {
    color: #171920;
    margin-bottom: 30px;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 41px;
  }

  &__menu-list {

    li {
      margin-right: 60px;

      a {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        color: #B7B7B7;
        text-transform: uppercase;
        transition: color 0.4s;

        &:hover {
          color: #171920;
        }
      }

      .active {
        color: #171920;
      }
    }
  }

  &__bk-rating {
    background-color: $bg-raiting-bk;
    box-shadow: 0px 0px 20px rgba(150, 150, 150, 0.1);
    height: 800px;
  }
}

/*----- Main end-----*/


/*----- Footer-----*/

.footer {
  background: #171920;
  color: $color-text-footer;
  font-size: 12px;

  &__adulthood {
    .eighteen {
      color: aliceblue;
      font-size: 17px;
      width: 21px;
      height: 18px;
      background-color: red;
      border-radius: 4px;
    }
  }

  &__renouncement {
    border-top: 1px solid grey;
  }

}