/*------------------ Color ------------------*/
/*------------------ Color ------------------*/
body {
  background-color: #FFFFFF;
  color: #26292d;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: 1; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    list-style: none; }

a:hover {
  text-decoration: none !important; }

/*----- header section start-----*/
.header__block {
  background: #171920;
  padding-top: 17px;
  padding-bottom: 17px; }

.header__logo-left {
  justify-content: center; }

.header__menu-right .menu-nav .nav-link {
  padding: 0; }
  .header__menu-right .menu-nav .nav-link .link-menu {
    padding: 19px 19px 30px 19px;
    color: #A2A3A6;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    position: relative;
    transition: color 0.4s; }
    .header__menu-right .menu-nav .nav-link .link-menu:hover {
      color: #FFFFFF; }
      .header__menu-right .menu-nav .nav-link .link-menu:hover::after {
        visibility: visible;
        opacity: 1;
        transition: 0.4s;
        width: 100%; }
    .header__menu-right .menu-nav .nav-link .link-menu::after {
      content: "";
      display: block;
      width: 0;
      height: 4px;
      background: #FF0303;
      position: absolute;
      top: 70px;
      left: 0;
      visibility: hidden;
      opacity: 0; }
  .header__menu-right .menu-nav .nav-link .active {
    color: #FFFFFF; }
    .header__menu-right .menu-nav .nav-link .active::after {
      visibility: visible;
      opacity: 1;
      transition: 0.4s;
      width: 100%; }

/*----- header section end-----*/
/*----- Main start-----*/
.main-news__container {
  padding-top: 52px; }

.main-news__text-block {
  margin-bottom: 38px; }

.main-news__news-item {
  margin-bottom: 30px; }
  .main-news__news-item .content-block {
    border-radius: 4px;
    padding-bottom: 23px; }
    .main-news__news-item .content-block .img-block {
      background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 14.66%); }
      .main-news__news-item .content-block .img-block img {
        display: block;
        width: 100%;
        height: 214px;
        position: relative;
        z-index: -2; }
    .main-news__news-item .content-block .text-block {
      background: #f9f9f9;
      padding: 20px 25px 23px 25px; }
      .main-news__news-item .content-block .text-block .news-item-subtext {
        margin-bottom: 20px;
        font-weight: 600;
        font-size: 16px;
        line-height: 21px; }
      .main-news__news-item .content-block .text-block .news-item-text {
        font-weight: normal;
        font-size: 14px;
        line-height: 20px; }
      .main-news__news-item .content-block .text-block .read-more {
        color: #FF0303;
        font-weight: bold;
        font-size: 14px;
        line-height: 19px;
        letter-spacing: 0.05em; }
        .main-news__news-item .content-block .text-block .read-more:hover .arrow-parent {
          margin-left: 40px;
          transition: 0.4s; }
          .main-news__news-item .content-block .text-block .read-more:hover .arrow-parent .right {
            visibility: visible;
            opacity: 1;
            width: 30px; }
        .main-news__news-item .content-block .text-block .read-more .arrow-parent {
          position: relative;
          margin-left: 20px;
          top: 7px;
          transition: 0.4s; }
          .main-news__news-item .content-block .text-block .read-more .arrow-parent i {
            right: 0px;
            border: solid black;
            border-width: 0 2px 2px 0;
            display: inline-block;
            border-color: #FF0303; }
          .main-news__news-item .content-block .text-block .read-more .arrow-parent .right-arrow {
            padding: 3px;
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            position: absolute; }
          .main-news__news-item .content-block .text-block .read-more .arrow-parent .right {
            content: "";
            width: 10px;
            height: 2px;
            display: inline-block;
            background-color: red;
            position: absolute;
            transition: 0.4s;
            top: 3px;
            visibility: hidden;
            opacity: 0; }

.main-news__name-news {
  color: #171920;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 30px;
  line-height: 41px; }

.main-news__menu-list li {
  margin-right: 60px; }
  .main-news__menu-list li a {
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #B7B7B7;
    text-transform: uppercase;
    transition: color 0.4s; }
    .main-news__menu-list li a:hover {
      color: #171920; }
  .main-news__menu-list li .active {
    color: #171920; }

.main-news__main-btn button {
  width: 100%;
  height: 40px;
  padding: 0;
  color: aliceblue;
  background: #171920;
  border: none;
  border-radius: 4px; }
  .main-news__main-btn button img {
    margin-left: 10px; }

.raiting__bk-rating {
  background-color: #F3F5F6;
  box-shadow: 0px 0px 20px rgba(150, 150, 150, 0.1);
  height: 800px; }

.raiting__name-block {
  margin-top: 50px;
  margin-bottom: 26px; }
  .raiting__name-block h3 {
    font-weight: bold;
    font-size: 20px;
    line-height: 27px; }

.raiting__block-item {
  margin-bottom: 28px; }
  .raiting__block-item .bk-name img {
    border-radius: 4px;
    width: 100px; }
  .raiting__block-item .bk-gift {
    margin-left: 25px;
    margin-right: 28px; }
    .raiting__block-item .bk-gift span {
      font-weight: normal;
      font-size: 14px;
      line-height: 19px;
      color: #5C5E5E; }
      .raiting__block-item .bk-gift span img {
        vertical-align: baseline; }
  .raiting__block-item .raiting-btn .btn-link {
    border-radius: 4px;
    background: #FF0303;
    padding: 7px 21px 8px 21px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    letter-spacing: 0.05em; }

.raiting__footer-btn button {
  width: 100%;
  height: 40px;
  padding: 0;
  color: aliceblue;
  background: #171920;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.05em; }

/*----- Main end-----*/
/*----- Footer-----*/
.footer {
  background: #171920;
  color: #A2A3A6;
  font-size: 12px; }
  .footer__adulthood .eighteen-block {
    display: inline-block;
    margin-right: 7px; }
    .footer__adulthood .eighteen-block .eighteen {
      color: aliceblue;
      font-size: 17px;
      width: 21px;
      height: 18px;
      background-color: red;
      border-radius: 4px; }
  .footer__adulthood .eighteen-block-text {
    display: inline-block;
    vertical-align: sub; }
  .footer__renouncement {
    border-top: 1px solid grey; }
