/*------------------ Color ------------------*/
/*------------------ Color ------------------*/
body {
  background-color: #FFFFFF;
  color: #26292d;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    list-style: none; }

a:hover {
  text-decoration: none; }

/*----- header section start-----*/
.header__block {
  background: #171920;
  padding-top: 17px;
  padding-bottom: 17px; }

.header__logo-left {
  justify-content: center; }

.header__menu-right .menu-nav .nav-link {
  padding: 0; }
  .header__menu-right .menu-nav .nav-link .link-menu {
    padding: 19px 19px 30px 19px;
    color: #A2A3A6;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    position: relative;
    transition: color 0.4s; }
    .header__menu-right .menu-nav .nav-link .link-menu:hover {
      color: #FFFFFF; }
      .header__menu-right .menu-nav .nav-link .link-menu:hover::after {
        visibility: visible;
        opacity: 1;
        transition: 0.4s;
        width: 100%; }
    .header__menu-right .menu-nav .nav-link .link-menu::after {
      content: "";
      display: block;
      width: 0;
      height: 4px;
      background: #FF0303;
      position: absolute;
      top: 70px;
      left: 0;
      visibility: hidden;
      opacity: 0; }
  .header__menu-right .menu-nav .nav-link .active {
    color: #FFFFFF; }
    .header__menu-right .menu-nav .nav-link .active::after {
      visibility: visible;
      opacity: 1;
      transition: 0.4s;
      width: 100%; }

/*----- header section end-----*/
/*----- Main start-----*/
.main-news__container {
  padding-top: 52px; }

.main-news__text-block {
  margin-bottom: 38px; }

.main-news__news-item {
  margin-bottom: 30px; }
  .main-news__news-item .content-block {
    background: #F9F9F9;
    border-radius: 4px;
    padding-bottom: 23px; }
    .main-news__news-item .content-block .img-block {
      margin-bottom: 20px; }
      .main-news__news-item .content-block .img-block img {
        display: block;
        max-width: 100%;
        height: auto; }
    .main-news__news-item .content-block .text-block {
      padding-left: 25px;
      padding-right: 25px; }
      .main-news__news-item .content-block .text-block .news-item-subtext {
        margin-bottom: 20px;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 21px; }
      .main-news__news-item .content-block .text-block .news-item-text {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px; }
      .main-news__news-item .content-block .text-block .read-more {
        color: #FF0303;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 19px;
        letter-spacing: 0.05em; }
        .main-news__news-item .content-block .text-block .read-more:hover i {
          margin-left: 40px; }
        .main-news__news-item .content-block .text-block .read-more:hover .right::before {
          visibility: visible;
          opacity: 1; }
        .main-news__news-item .content-block .text-block .read-more i {
          border: solid black;
          border-width: 0 2px 2px 0;
          display: inline-block;
          padding: 3px;
          border-color: #FF0303;
          transition: 0.4s; }
        .main-news__news-item .content-block .text-block .read-more .right {
          transform: rotate(-45deg);
          -webkit-transform: rotate(-45deg);
          position: relative; }
          .main-news__news-item .content-block .text-block .read-more .right::before {
            content: "";
            width: 40px;
            height: 2px;
            display: inline-block;
            background-color: red;
            position: absolute;
            transition: 0.3s;
            transform: rotate(45deg);
            left: -28px;
            top: -9px;
            visibility: hidden;
            opacity: 0; }

.main-news__name-news {
  color: #171920;
  margin-bottom: 30px;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 41px; }

.main-news__menu-list li {
  margin-right: 60px; }
  .main-news__menu-list li a {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #B7B7B7;
    text-transform: uppercase;
    transition: color 0.4s; }
    .main-news__menu-list li a:hover {
      color: #171920; }
  .main-news__menu-list li .active {
    color: #171920; }

.main-news__bk-rating {
  background-color: #F3F5F6;
  box-shadow: 0px 0px 20px rgba(150, 150, 150, 0.1);
  height: 1762px; }

/*----- Main end-----*/
/*----- Footer-----*/
.footer {
  background: #171920;
  color: #A2A3A6;
  font-size: 12px; }
  .footer__renouncement {
    border-top: 1px solid grey; }
